<p id="notice"><%= notice %></p>

<p>
  <strong>Latitude:</strong>
  <%= @origin.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @origin.longitude %>
</p>

<p>
  <strong>Address:</strong>
  <%= @origin.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @origin.description %>
</p>

<p>
  <strong>Title:</strong>
  <%= @origin.title %>
</p>

<%= link_to 'Edit', edit_origin_path(@origin) %> |
<%= link_to 'Back', origins_path %>
