<div id="about" class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="row">
        <div class="col-md-3">
          <%= image_tag 'home.png', :style => "height: 50px; margin-left:-10px; margin-top: 1vh;"%>
        </div>
        <div class="col-md-9">
          <a href="/"><button id="p-td7">Home</button></a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <%= image_tag 'terminals.png', :style => "height: 50px; margin-left:-10px; margin-top: 1vh;"%>
        </div>
        <div class="col-md-9">
          <a href="/destinations/<%= params[:destination_id]%>/terminals"><button id="p-td7">Terminals</button></a>
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <div class="p-title"><center><%= image_tag '/assets/main-logo.png', :style=>"width: 60%;" %></center></div>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-3">
              <%= image_tag 'about 1.png', :style => "height: 70px; margin-top:1vh; float:right;"%>
            </div>
            <div class="col-md-8 p-td" id="p-td1">
              A franchisee model and has more<br>than 20 services in the Philippines.
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <%= image_tag 'about 3.png', :style => "height: 70px; margin-top:4vh; float:right;"%>
            </div>
            <div class="col-md-8 p-td" id="p-td2">
              UV Express vans are air conditioned,<br>usually 14 passengers and charge<br>P2/km (as of 2013).
            </div>
          </div>
        </div>
        <div class="col-md-6" id="p-panel2">
          <div class="row">
            <div class="col-md-3">
              <%= image_tag 'about 2.png', :style => "height: 70px; margin-top:1vh; float:right;"%>
            </div>
            <div class="col-md-8 p-td" id="p-td3">
              Land Transportation and Regulatory<br>Board or LTFRB serves as the owner<br>of the franchise.
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <%= image_tag 'about 4.png', :style => "height: 70px; margin-top:2vh; float:right;"%>
            </div>
            <div class="col-md-8 p-td" id="p-td4">
              The name UV stands for “Utility Vehicle.”<br>Also a pun for Uwi na!
            </div>
          </div>
        </div>
      </div>
      <div id="p-td5"><center>We'd love to hear from you!</center></div>
      <div id="p-td6"><center>Occae et doluptatur alictust, audi ut ipicien ihicien emodigniet, que est,<br>sectat. Dipsusciate nimincias mint etur, undi beri consecta imilitat. Ur?<br>Unducius doluptias magnitio. Occatur maio neque preiciis.</center></div>
      <div class="p-icons"><center>
        <%= image_tag '/assets/mail.png', :style => "height: 8.5vh;"%>
        <%=link_to image_tag('/assets/facebook.png', :style => "height: 8.5vh;"),"https://www.facebook.com/expressrideph/",:class=>"ltit"%>
        <%= image_tag '/assets/twitter.png', :style => "height: 8.5vh;"%>
      </center></div>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
      // Initialize the plugin
      $('#my_popup').popup();

    });
</script>