<%= form_for(@route) do |f| %>
  <% if @route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@route.errors.count, "error") %> prohibited this route from being saved:</h2>

      <ul>
      <% @route.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :lat1 %><br>
    <%= f.text_field :lat1 %>
  </div>
  <div class="field">
    <%= f.label :lat2 %><br>
    <%= f.text_field :lat2 %>
  </div>
  <div class="field">
    <%= f.label :lon1 %><br>
    <%= f.text_field :lon1 %>
  </div>
  <div class="field">
    <%= f.label :lon2 %><br>
    <%= f.text_field :lon2 %>
  </div>
  <div class="field">
    <%= f.label :schedule %><br>
    <%= f.text_area :schedule %>
  </div>
  <div class="field">
    <%= f.label :fare %><br>
    <%= f.text_field :fare %>
  </div>
  <div class="field">
    <%= f.label :terminal_id %><br>
    <%= f.number_field :terminal_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
