<p>
  <strong>Terminal:</strong>
  <%= @terminal.name %>
</p>

<p>
  <strong>Route:</strong>
  <%= @route.name %>
</p>

<p>
  <strong>Lat1:</strong>
  <%= @route.lat1 %>
</p>

<p>
  <strong>Lat2:</strong>
  <%= @route.lat2 %>
</p>

<p>
  <strong>Lon1:</strong>
  <%= @route.lon1 %>
</p>

<p>
  <strong>Lon2:</strong>
  <%= @route.lon2 %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @route.schedule %>
</p>

<p>
  <strong>First Trip:</strong>
  <%= @route.trip1 %>
</p>

<p>
  <strong>Last Trip:</strong>
  <%= @route.trip2 %>
</p>

