         <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxlbNHz4zdPWvnj6vQZXdkDEyh6Vgm_nk&callback=initMap"
  type="text/javascript"></script>
        
<div id="body-home" style="">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4" style="background-color:#5388AD; height: 100vh;">
                <div><center><%= image_tag '/assets/main-logo', :style=>"width: 80%; padding-top: 2vh;" %>
                </center></div>
                <div class="">
                    <div class="row" style="margin-top:3vh;">
                        <div class="col-xs-2">
                        <%= image_tag 'location to destination.png', :style => "height: 15vh; margin-left: -20px;"%>
                    </div>
                    <div class="col-xs-8">
                          <center><input id="i-origin" class="i-search" type="text" name="origin" placeholder="SEARCH ORIGIN" value=<%= params['origin'] %>></center>
                      <center><input id="i-destination2" class="i-search" type="text" name="destination" value=<%= params['destination'] %>></center>

                    </div>
                    <div class="col-xs-2" style="padding-top:10px;">
                        <input type="image" src="/assets/reverse.png" alt="Reverse" id="i-reverse1" class="i-reverse" onclick="for_reverse(event);">
                    </div>

                    </div>
                </div>
                <div class="t-td1" style=" margin-left:-4%; font-family: 'Open Sans', sans-serif; font-size: 16px; font-weight: bold; background-color:#E4E2E1; height:10%; width:108%; padding-top:14px;margin-top:4vh;">
                  <center>
                  <span class="st-title">Terminal Name</span><br>
                  <span class="st-subtitle">Address</span>

                  </center>
                </div>
                <div class="t-td1" style=" margin-left:-4%; font-family: 'Open Sans', sans-serif; color: #5388AD; font-size: 16px; font-weight: bold; background-color:white; height:70%; width:108%;">
                <div style="overflow-y:auto;overflow-x:hidden; height:38vh;">
                   <div class="row td-divlink" style="height:12vh; background-color:white;">
                  <div class="col-xs-1"></div>
                  <div style="width:12.5vh; height:100%;background-image:url(/assets/route.png);background-size:cover;background-position:cover; margin-left:20px;" class="col-xs-3">
                    
                  </div>
                  <div style="padding-top:0.9vh;" class="col-xs-8" >
                    <span class="ttitle">ROUTE</span><br>
                    <span class="sttitle"><%=@route.name%></span><br>
                    <span class="sttitle2"><%=@route.fare%></span>
                  </div>

                </div>
                  <div class="row td-divlink" style="height:12vh; background-color:white;">
                  <div class="col-xs-1"></div>
                  <div style="width:13vh; height:100%;background-image:url(/assets/schedule.png);background-size:cover;background-position:cover; margin-left:16px;" class="col-xs-3">
                    
                  </div>
                  <div style="padding-top:0.9vh;" class="col-xs-8" >
                    <span class="ttitle">SCHEDULE</span>
                    <span class="sttitle"><%=@route.schedule%></span><br>
                    <span class="sttitle2">first trip:<%= @route.trip1 %></span><br><span class="sttitle2">last trip:<%= @route.trip2 %></span>
                  </div>
                  </div>

                  <div class="row td-divlink" style="height:12vh; background-color:white;">
                  <div class="col-xs-1"></div>
                  <div style="width:13vh; height:100%;background-image:url(/assets/fare.png);background-size:cover;background-position:cover; margin-left:19px;" class="col-xs-3">
                    
                  </div>
                  <div style="padding-top:0.9vh;" class="col-xs-8" >
                    <span class="ttitle">FARE</span><br>
                    <span class="sttitle"><%=@route.fare%></span>
                  </div>
                  </div>
                  <div class="row td-divlink" style="height:12vh; background-color:white;">
                  <div class="col-xs-1"></div>

                  <div style="padding-top:0.9vh;" class="col-xs-10" >
                    <span class="ttitle">DROP OFF POINTS</span><br>
                    <span class="sttitle">
                      <% if @route.dropoff_locations.present? %>
                    <p>
                      <ul>
                      <% @route.dropoff_locations.each do |d| %>
                        <li><%= d.location %></li>
                      <% end %>
                      </ul>
                    </p>
                  <% end %>

                    </span>
                  </div>
                  </div>
                </div>


                
                </div>

                        <input type="image" src="/assets/hamburger-menu-2.png" alt="Menus" id="i-menu2" class="i-menu my_popup_open">
                        </div>
                
                <div id="my_popup">
                    <%= render 'about' %>
                </div>
            <div id="map"class="col-md-8" style="min-height: 100vh; background-color: #E4E2E1;padding-left:0!important;padding-right:0!important;">
            <iframe src="<%=@route.link%>" frameborder="0" style="border:0;width:100%;height:99.2vh;" allowfullscreen></iframe>

            </div>
            </div>

        </div>
