         <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxlbNHz4zdPWvnj6vQZXdkDEyh6Vgm_nk&callback=initMap"
  type="text/javascript"></script>
        
<div id="body-home" style="">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4" style="background-color:#5388AD; height: 100vh;">
                <div><center><%= image_tag '/assets/main-logo', :style=>"width: 80%; padding-top: 2vh;" %>
                </center></div>
                <div class="">
                    <div class="row" style="margin-top:3vh;">
                        <div class="col-xs-2">
                        <%= image_tag 'location to destination.png', :style => "height: 12vh; margin-left: 14px;margin-top: 1.4vh;"%>
                    </div>
                    <div class="col-xs-8">
                      <%= form_for @destination, url: destination_path(params[:destination_id]), method: :patch, html: {id: "destination-form"} do |f| %>
                        <center><%= f.text_field :origin_address,  name: "origin-address", id: "i-origin", class: "i-search", value: "#{@destination.origin.address}"%>
                        <center><%= f.text_field :address, id: "i-destination2", class: "i-search", value: "#{@destination.address}"%></center>
                        <%= submit_tag "", :style => "display: none;" %>
                      <% end %>
                    </div>
                    <div class="col-xs-2" style="padding-top:10px;">
                        <input type="image" src="/assets/reverse.png" alt="Reverse" id="i-reverse1" class="i-reverse" onclick="for_reverse(event);">
                    </div>

                    </div>
                </div>
                <div class="t-td1" style=" margin-left:-4%; font-family: 'Open Sans', sans-serif; font-size: 16px; font-weight: bold; background-color:#E4E2E1; min-height:8%; width:108%; padding-top:7px;margin-top:4vh;padding-bottom:5px;">
                  <center>
                  <span class="st-title1"><%=@route.terminal.name%></span><br>
                  <span class="st-subtitle"><%=@route.terminal.address%></span>

                  </center>
                </div>
                <div class="t-td1" style=" margin-left:-4%; font-family: 'Open Sans', sans-serif; color: #5388AD; font-size: 16px; font-weight: bold; background-color:white; height:70%; width:108%;">
                <div style="overflow-y:auto;overflow-x:hidden; height:38vh;">
                   <div class="row td-divlink" style="height:12vh; background-color:white;">
                  <div class="col-xs-1"></div>
                  <div style="width:12.5vh; height:100%;background-image:url(/assets/route.png);background-size:cover;background-position:cover; margin-left:20px;" class="col-xs-3">
                    
                  </div>
                  <div style="padding-top:0.9vh;" class="col-xs-8" >
                    <span class="ttitle">ROUTE</span><br>
                    <span class="sttitle"><%=@route.name%></span><br>
                    <span class="sttitle2"><%=@route.fare %></span>
                  </div>

                </div>
                  <div class="row td-divlink" style="height:12vh; background-color:white;">
                  <div class="col-xs-1"></div>
                  <div style="width:13vh; height:100%;background-image:url(/assets/schedule.png);background-size:cover;background-position:cover; margin-left:16px;" class="col-xs-3">
                    
                  </div>
                  <div style="padding-top:0.9vh;" class="col-xs-8" >
                    <span class="ttitle">SCHEDULE</span>
                    <span class="sttitle"><%=@route.schedule%></span><br>
                    <span class="sttitle2">first trip:<%= @route.trip1 %></span><br><span class="sttitle2">last trip:<%= @route.trip2 %></span>
                  </div>
                  </div>

                  <div class="row td-divlink" style="height:12vh; background-color:white;">
                  <div class="col-xs-1"></div>
                  <div style="width:13vh; height:100%;background-image:url(/assets/fare.png);background-size:cover;background-position:cover; margin-left:19px;" class="col-xs-3">
                    
                  </div>
                  <div style="padding-top:0.9vh;" class="col-xs-8" >
                    <span class="ttitle">FARE</span><br>
                    <span class="sttitle"><%=@route.fare%></span>
                  </div>
                  </div>
                   <% if @route.dropoff_locations.present? %>
                  <div class="row td-divlink" style="height:12vh; background-color:white;">
                  <div class="col-xs-1"></div>

                  <div style="padding-top:0.9vh;" class="col-xs-10" >
                    <span class="ttitle">DROP OFF POINTS</span><br>
                    <span class="sttitle">
                     
                    <p>
                      <ul>
                      <% @route.dropoff_locations.each do |d| %>
                        <li><%= d.location %></li>
                      <% end %>
                      </ul>
                    </p>


                    </span>
                  </div>
                  </div>
                  <% end %>
                   <div class="row td-divlink" style="height:12vh; background-color:white;">
                     <center><a href="/destinations/<%=@destination.id%>/terminals/<%=@terminal.id%>">
                       <span class="sttitle1">LOCATE THE TERMINAL</span></a>
                     </center>
                   </div>


                </div>


                
                </div>

                        <input type="image" src="/assets/hamburger-menu-2.png" alt="Menus" id="i-menu2" class="i-menu my_popup_open">
                        </div>
                
                <div id="my_popup">
                    <%= render 'about' %>
                </div>

            <div id="map"class="col-md-8" style="min-height: 100vh; background-color: #E4E2E1;padding-left:0!important;padding-right:0!important;">

              <% if @route.id == 1 %>
                <iframe src="https://www.google.com/maps/embed?pb=!1m68!1m12!1m3!1d61799.49456452393!2d120.86627135053665!3d14.515178753476501!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m53!3e0!4m5!1s0x3397d1e7874abb31%3A0x2850eeb5dcf8a7f7!2sSM+Southmall%2C+Almanza+Uno%2C+Las+Pinas%2C+Metro+Manila!3m2!1d14.432835899999999!2d121.0102148!4m5!1s0x3397c916938f6f8f%3A0xd7eb3938786d5267!2sAmorsolo+Street%2C+Makati%2C+Metro+Manila!3m2!1d14.5513487!2d121.01558849999999!4m5!1s0x3397c90dd3fac9fb%3A0xa3ac5c99530102dc!2sDela+Rosa+Street%2C+Makati%2C+Kalakhang+Maynila!3m2!1d14.557862799999999!2d121.01714439999999!4m5!1s0x3397c90dc211f5b9%3A0xc395c0d26de79c79!2sAdelantado%2C+Makati%2C+Kalakhang+Maynila!3m2!1d14.5553519!2d121.0152603!4m3!3m2!1d14.5284708!2d121.0375497!4m5!1s0x3397c90691bfada3%3A0x72ba69fd6ec9320a!2s8737+Paseo+de+Roxas%2C+Makati%2C+Metro+Manila!3m2!1d14.55844!2d121.02572599999999!4m5!1s0x3397c9088754c5d7%3A0xf2c3ce971f7ef065!2sH.V.+Dela+Costa%2C+Makati%2C+Metro+Manila!3m2!1d14.5613546!2d121.02123279999999!4m5!1s0x3397c9abb4e21dfd%3A0x3147a540040dc46d!2sMakati+Ave%2C+Makati%2C+Metro+Manila!3m2!1d14.55973!2d121.0270887!4m5!1s0x3397c91b9d9da6fb%3A0xd67ff631897d8d5d!2sSM+Makati%2C+Makati%2C+Metro+Manila!3m2!1d14.5494706!2d121.02688029999999!5e0!3m2!1sen!2sph!4v1460911638792" frameborder="0" style="border:0;width:100%;height:99.2vh;" allowfullscreen></iframe>

            <% elsif @route.id == 2 %>
              <iframe src="https://www.google.com/maps/embed?pb=!1m64!1m12!1m3!1d61801.964737862174!2d120.96085876061107!3d14.506330404722204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m49!3e0!4m5!1s0x3397cdfa2cf89f47%3A0x1998095931d54ecc!2sCaltex+Pamplona+Starmall%2C+Alabang+-+Zapote+Road%2C+Las+Pinas!3m2!1d14.451129!2d120.9792926!4m5!1s0x3397c916938f6f8f%3A0xd7eb3938786d5267!2sAmorsolo+Street%2C+Makati%2C+Metro+Manila!3m2!1d14.5513487!2d121.01558849999999!4m5!1s0x3397c90dd3fac9fb%3A0xa3ac5c99530102dc!2sDela+Rosa+Street%2C+Makati%2C+Kalakhang+Maynila!3m2!1d14.557862799999999!2d121.01714439999999!4m5!1s0x3397c90dc211f5b9%3A0xc395c0d26de79c79!2sAdelantado%2C+Makati%2C+Kalakhang+Maynila!3m2!1d14.5553519!2d121.0152603!4m5!1s0x3397c90691bfada3%3A0x72ba69fd6ec9320a!2s8737+Paseo+de+Roxas%2C+Makati%2C+Metro+Manila!3m2!1d14.55844!2d121.02572599999999!4m5!1s0x3397c9088754c5d7%3A0xf2c3ce971f7ef065!2sH.V.+Dela+Costa%2C+Makati%2C+Metro+Manila!3m2!1d14.5613546!2d121.02123279999999!4m5!1s0x3397c9abb4e21dfd%3A0x3147a540040dc46d!2sMakati+Ave%2C+Makati%2C+Metro+Manila!3m2!1d14.55973!2d121.0270887!4m5!1s0x3397c91b9d9da6fb%3A0xd67ff631897d8d5d!2sSM+Makati%2C+Makati%2C+Metro+Manila!3m2!1d14.5494706!2d121.02688029999999!5e0!3m2!1sen!2sph!4v1460912335310" frameborder="0" style="border:0;width:100%;height:99.2vh;" allowfullscreen></iframe>

            <% elsif @route.id == 3 %>
              <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d123596.16382475651!2d120.90982047723206!3d14.520236609400602!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x3397cdfe7a27b695%3A0x12946217057c0ad7!2sManila+Times+St%2C+Las+Pinas%2C+Metro+Manila!3m2!1d14.4490088!2d120.98523209999999!4m5!1s0x3397ca19384a9617%3A0x6c050335c806bca0!2sLawton%2C+Manila%2C+NCR!3m2!1d14.5936341!2d120.98110199999999!5e0!3m2!1sen!2sph!4v1460912508032" frameborder="0" style="border:0;width:100%;height:99.2vh;" allowfullscreen></iframe>

            <% elsif @route.id == 4 %>
              <iframe src="https://www.google.com/maps/embed?pb=!1m64!1m12!1m3!1d123611.92711207303!2d120.94969687687941!3d14.491995127854013!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m49!3e0!4m5!1s0x3397ce0222aff6c3%3A0x5260075ea95f26c6!2sJollibee+-+Casimiro%2C+Alabang+-+Zapote+Road%2C+Las+Pinas%2C+NCR!3m2!1d14.444621399999999!2d120.9940676!4m5!1s0x3397c916938f6f8f%3A0xd7eb3938786d5267!2sAmorsolo+Street%2C+Makati%2C+Metro+Manila!3m2!1d14.5513487!2d121.01558849999999!4m5!1s0x3397c90dd3fac9fb%3A0xa3ac5c99530102dc!2sDela+Rosa+Street%2C+Makati%2C+Kalakhang+Maynila!3m2!1d14.557862799999999!2d121.01714439999999!4m5!1s0x3397c90dc211f5b9%3A0xc395c0d26de79c79!2sAdelantado%2C+Makati%2C+Kalakhang+Maynila!3m2!1d14.5553519!2d121.0152603!4m5!1s0x3397c90691bfada3%3A0x72ba69fd6ec9320a!2s8737+Paseo+de+Roxas%2C+Makati%2C+Metro+Manila!3m2!1d14.55844!2d121.02572599999999!4m5!1s0x3397c9088754c5d7%3A0xf2c3ce971f7ef065!2sH.V.+Dela+Costa%2C+Makati%2C+Metro+Manila!3m2!1d14.5613546!2d121.02123279999999!4m5!1s0x3397c9abb4e21dfd%3A0x3147a540040dc46d!2sMakati+Ave%2C+Makati%2C+Metro+Manila!3m2!1d14.55973!2d121.0270887!4m5!1s0x3397c91b9d9da6fb%3A0xd67ff631897d8d5d!2sSM+Makati%2C+Makati%2C+Metro+Manila!3m2!1d14.5494706!2d121.02688029999999!5e0!3m2!1sen!2sph!4v1460912547181" frameborder="0" style="border:0;width:100%;height:99.2vh;" allowfullscreen></iframe>

            <% elsif @route.id == 5 %>
              <iframe src="https://www.google.com/maps/embed?pb=!1m64!1m12!1m3!1d123611.92711207303!2d120.94889587687942!3d14.491995127854008!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m49!3e0!4m5!1s0x3397d1fe1ba8b6f3%3A0x54c1d18d9b3c06d7!2sMonterey%2C+BF+Resort+Drive%2C+Las+Pinas%2C+NCR!3m2!1d14.44304!2d120.99245099999999!4m5!1s0x3397c916938f6f8f%3A0xd7eb3938786d5267!2sAmorsolo+Street%2C+Makati%2C+Metro+Manila!3m2!1d14.5513487!2d121.01558849999999!4m5!1s0x3397c90dd3fac9fb%3A0xa3ac5c99530102dc!2sDela+Rosa+Street%2C+Makati%2C+Kalakhang+Maynila!3m2!1d14.557862799999999!2d121.01714439999999!4m5!1s0x3397c90dc211f5b9%3A0xc395c0d26de79c79!2sAdelantado%2C+Makati%2C+Kalakhang+Maynila!3m2!1d14.5553519!2d121.0152603!4m5!1s0x3397c90691bfada3%3A0x72ba69fd6ec9320a!2s8737+Paseo+de+Roxas%2C+Makati%2C+Metro+Manila!3m2!1d14.55844!2d121.02572599999999!4m5!1s0x3397c9088754c5d7%3A0xf2c3ce971f7ef065!2sH.V.+Dela+Costa%2C+Makati%2C+Metro+Manila!3m2!1d14.5613546!2d121.02123279999999!4m5!1s0x3397c9abb4e21dfd%3A0x3147a540040dc46d!2sMakati+Ave%2C+Makati%2C+Metro+Manila!3m2!1d14.55973!2d121.0270887!4m5!1s0x3397c91b9d9da6fb%3A0xd67ff631897d8d5d!2sSM+Makati%2C+Makati%2C+Metro+Manila!3m2!1d14.5494706!2d121.02688029999999!5e0!3m2!1sen!2sph!4v1460912586561" frameborder="0" style="border:0;width:100%;height:99.2vh;" allowfullscreen></iframe>

            <% elsif @route.id == 6 %>
              <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d123606.41333565256!2d120.94054022700276!3d14.501879721394115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x3397d194c9a38bf9%3A0x490bd14b48d8e694!2sPilar+Village%2C+Las+Pinas%2C+Metro+Manila!3m2!1d14.426362999999998!2d121.009233!4m5!1s0x3397ca19384a9617%3A0x6c050335c806bca0!2sLawton%2C+Dr.+R.+Basa%2C+Manila%2C+Metro+Manila!3m2!1d14.5936341!2d120.98110199999999!5e0!3m2!1sen!2sph!4v1460912647110" frameborder="0" style="border:0;width:100%;height:99.2vh;" allowfullscreen></iframe>

            <% elsif @route.id == 7 %>
              <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d123602.92459210362!2d120.93392562708082!3d14.50813061730962!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x3397d1e1479297bb%3A0xe441f62a0ec5682b!2s403-F+Alabang+-+Zapote+Rd%2C+Las+Pinas%2C+1747+Metro+Manila!3m2!1d14.437054!2d121.00622399999999!4m5!1s0x3397ca19384a9617%3A0x6c050335c806bca0!2sLawton%2C+Dr.+R.+Basa%2C+Manila%2C+Metro+Manila!3m2!1d14.5936341!2d120.98110199999999!5e0!3m2!1sen!2sph!4v1460912677047" frameborder="0" style="border:0;width:100%;height:99.2vh;" allowfullscreen></iframe>

            <% elsif @route.id == 8 %>
              <iframe src="https://www.google.com/maps/embed?pb=!1m44!1m12!1m3!1d61804.48016961269!2d120.99132221058345!3d14.497314506195055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m29!3e0!4m5!1s0x3397c91baffddebf%3A0x69800d9f23370c5e!2sPilar+UV+Express+Station%2C+East+St%2C+Makati%2C+Metro+Manila!3m2!1d14.549178699999999!2d121.02560249999999!4m5!1s0x3397ce42734946c1%3A0x2e3b609295ed4bd4!2sN+Lopez+Ave%2C+Para%C3%B1aque%2C+Metro+Manila!3m2!1d14.4678519!2d121.0111117!4m5!1s0x3397ce3b50e254d7%3A0x544ef11811c1bff2!2sAguirre+Avenue%2C+Para%C3%B1aque%2C+Metro+Manila!3m2!1d14.4514835!2d121.0181511!4m5!1s0x3397ce32597c9df1%3A0xbaa40fd03cfc01d6!2sPresident&#39;s+Ave%2C+Para%C3%B1aque%2C+Metro+Manila!3m2!1d14.4502931!2d121.02995179999999!4m3!3m2!1d14.450262899999998!2d121.0301123!5e0!3m2!1sen!2sph!4v1460912710951" frameborder="0" style="border:0;width:100%;height:99.2vh;" allowfullscreen></iframe>

            <% elsif @route.id == 9 %>
              <iframe src="https://www.google.com/maps/embed?pb=!1m30!1m8!1m3!1d61804.39939685563!2d120.9921649!3d14.4976041!3m2!1i1024!2i768!4f13.1!4m19!3e0!4m5!1s0x3397c91baffddebf%3A0x69800d9f23370c5e!2sPilar+UV+Express+Station%2C+East+St%2C+Makati%2C+Metro+Manila!3m2!1d14.549178699999999!2d121.02560249999999!4m5!1s0x3397ce8559fc3823%3A0xe397efef85bd1e31!2sSucat+Road%2C+Para%C3%B1aque%2C+Metro+Manila!3m2!1d14.4668317!2d121.01542119999999!4m5!1s0x3397ce7de2da5bbd%3A0xc4f1845e91886224!2sSM+City+Sucat%2C+Doctor+A.+Santos+Avenue%2C+Para%C3%B1aque%2C+NCR!3m2!1d14.4829662!2d120.9933507!5e0!3m2!1sen!2sph!4v1460912759855" frameborder="0" style="border:0;width:100%;height:99.2vh;" allowfullscreen></iframe>

            <% elsif @route.id == 10 %>
              <iframe src="https://www.google.com/maps/embed?pb=!1m46!1m12!1m3!1d61800.21332210886!2d120.99506131063032!3d14.512604653697386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m31!3e0!4m5!1s0x3397c91baffddebf%3A0x69800d9f23370c5e!2sPilar+UV+Express+Station%2C+East+Street%2C+Makati%2C+Metro+Manila!3m2!1d14.549178699999999!2d121.02560249999999!4m5!1s0x3397cf101d362581%3A0xb066a0aa4989b67d!2sBicutan+Station%2C+KM+20.900+Skyway%2C+United+Paranaque+Subd%2C+Para%C3%B1aque%2C+1213+Kalakhang+Maynila!3m2!1d14.487964!2d121.045385!4m5!1s0x3397cefb88e24029%3A0xc2ecee8419a61a0f!2sMercury+Drug%2C+Russia+Branch%2C+Para%C3%B1aque%2C+1711+Metro+Manila!3m2!1d14.486687!2d121.02753299999999!4m5!1s0x3397cec2068e3499%3A0xd42c7a3871493e4a!2sMoon+Walk+Village+Phase+1%2C+Moonwalk+Access+Road%2C+Para%C3%B1aque%2C+1709+Kalakhang+Maynila!3m2!1d14.502251999999999!2d121.01680499999999!4m5!1s0x3397cfaf79cbc385%3A0xd7d5f2fa644ef0d8!2sW+Service+Rd%2C+Para%C3%B1aque%2C+Metro+Manila!3m2!1d14.475420399999999!2d121.04505379999999!5e0!3m2!1sen!2sph!4v1460912822713" frameborder="0" style="border:0;width:100%;height:99.2vh;" allowfullscreen></iframe>

            <% elsif @route.id == 11 %>
              <iframe src="https://www.google.com/maps/embed?pb=!1m32!1m12!1m3!1d30896.957273378084!2d121.0240093226745!3d14.53514740001658!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m17!3e0!4m5!1s0x3397c91baffddebf%3A0x69800d9f23370c5e!2sPilar+UV+Express+Station%2C+East+St%2C+Makati%2C+Metro+Manila!3m2!1d14.549178699999999!2d121.02560249999999!4m3!3m2!1d14.533382699999999!2d121.05760199999999!4m5!1s0x3397c8c41a0d4365%3A0x4ad787f4c9f31ef!2sService+Rd%2C+Taguig%2C+Metro+Manila!3m2!1d14.532287!2d121.0498197!5e0!3m2!1sen!2sph!4v1460912863938" frameborder="0" style="border:0;width:100%;height:99.2vh;" allowfullscreen></iframe>

            <% elsif @route.id == 12 %>
              <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d15448.106071398062!2d121.02857723184322!3d14.540475907119811!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x3397c91baffddebf%3A0x69800d9f23370c5e!2sPilar+UV+Express+Station%2C+East+St%2C+Makati%2C+Metro+Manila!3m2!1d14.549178699999999!2d121.02560249999999!4m5!1s0x3397c8c19ea7d083%3A0x214327ada65d86e0!2sMcKinley+Hill%2C+Upper+McKinley+Road%2C+Taguig%2C+Metro+Manila!3m2!1d14.534818699999999!2d121.0486454!5e0!3m2!1sen!2sph!4v1460915347722" frameborder="0" style="border:0;width:100%;height:99.2vh;" allowfullscreen></iframe>

            <% elsif @route.id == 23 %>
              <iframe src="https://www.google.com/maps/embed?pb=!1m24!1m8!1m3!1d123614.30590941448!2d120.9332512!3d14.4877286!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x3397c91243807c0b%3A0xcfb4b05313837249!2sMakati+Cinema+Square%2C+Don+Chino+Roces+Avenue%2C+Makati%2C+Metro+Manila!3m2!1d14.552446!2d121.0143521!4m5!1s0x3397cdf9614afbd1%3A0x49cb7381825c9df8!2s208+A+Alabang+-+Zapote+Rd%2C+Talon+2%2C+Las+Pinas%2C+1747+Metro+Manila!3m2!1d14.450123!2d120.980184!5e0!3m2!1sen!2sph!4v1460915395122" frameborder="0" style="border:0;width:100%;height:99.2vh;" allowfullscreen></iframe>

            <% elsif @route.id == 24 %>
              <iframe src="https://www.google.com/maps/embed?pb=!1m34!1m12!1m3!1d61802.734925109035!2d120.98403636060263!3d14.503570455173048!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m19!3e0!4m5!1s0x3397c91243807c0b%3A0xcfb4b05313837249!2sMakati+Cinema+Square%2C+Don+Chino+Roces+Avenue%2C+Makati%2C+Metro+Manila!3m2!1d14.552446!2d121.0143521!4m5!1s0x3397ce8559fc3823%3A0xe397efef85bd1e31!2sSucat+Road%2C+Para%C3%B1aque%2C+Metro+Manila!3m2!1d14.4668317!2d121.01542119999999!4m5!1s0x3397ce7de2da5bbd%3A0xc4f1845e91886224!2sSM+City+Sucat%2C+Doctor+A.+Santos+Avenue%2C+Para%C3%B1aque%2C+NCR!3m2!1d14.4829662!2d120.9933507!5e0!3m2!1sen!2sph!4v1460915447899" frameborder="0" style="border:0;width:100%;height:99.2vh;" allowfullscreen></iframe>

            <% elsif @route.id == 25 %>
              <iframe src="https://www.google.com/maps/embed?pb=!1m44!1m12!1m3!1d61804.090772471005!2d120.99132221058773!3d14.498710555966978!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m29!3e0!4m5!1s0x3397c91243807c0b%3A0xcfb4b05313837249!2sMakati+Cinema+Square%2C+Don+Chino+Roces+Avenue%2C+Makati%2C+Metro+Manila!3m2!1d14.552446!2d121.0143521!4m5!1s0x3397ce42734946c1%3A0x2e3b609295ed4bd4!2sN+Lopez+Ave%2C+Para%C3%B1aque%2C+Metro+Manila!3m2!1d14.4678519!2d121.0111117!4m5!1s0x3397ce3b50e254d7%3A0x544ef11811c1bff2!2sAguirre+Avenue%2C+Para%C3%B1aque%2C+Metro+Manila!3m2!1d14.4514835!2d121.0181511!4m5!1s0x3397ce32597c9df1%3A0xbaa40fd03cfc01d6!2sPresident&#39;s+Ave%2C+Para%C3%B1aque%2C+Metro+Manila!3m2!1d14.4502931!2d121.02995179999999!4m3!3m2!1d14.450262899999998!2d121.0301123!5e0!3m2!1sen!2sph!4v1460915486443" frameborder="0" style="border:0;width:100%;height:99.2vh;" allowfullscreen></iframe>

            <% elsif @route.id == 26 %>
              <iframe src="https://www.google.com/maps/embed?pb=!1m46!1m12!1m3!1d61799.82352311074!2d120.99506131063461!3d14.514000703469375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m31!3e0!4m5!1s0x3397c91243807c0b%3A0xcfb4b05313837249!2sMakati+Cinema+Square%2C+Don+Chino+Roces+Avenue%2C+Makati%2C+Metro+Manila!3m2!1d14.552446!2d121.0143521!4m5!1s0x3397cf101d362581%3A0xb066a0aa4989b67d!2sBicutan+Station%2C+KM+20.900+Skyway%2C+United+Paranaque+Subd%2C+Para%C3%B1aque%2C+1213+Kalakhang+Maynila!3m2!1d14.487964!2d121.045385!4m5!1s0x3397cefb88e24029%3A0xc2ecee8419a61a0f!2sMercury+Drug%2C+Russia+Branch%2C+Para%C3%B1aque%2C+1711+Metro+Manila!3m2!1d14.486687!2d121.02753299999999!4m5!1s0x3397cec2068e3499%3A0xd42c7a3871493e4a!2sMoon+Walk+Village+Phase+1%2C+Moonwalk+Access+Road%2C+Para%C3%B1aque%2C+1709+Kalakhang+Maynila!3m2!1d14.502251999999999!2d121.01680499999999!4m5!1s0x3397cfaf79cbc385%3A0xd7d5f2fa644ef0d8!2sW+Service+Rd%2C+Para%C3%B1aque%2C+Metro+Manila!3m2!1d14.475420399999999!2d121.04505379999999!5e0!3m2!1sen!2sph!4v1460915671846" frameborder="0" style="border:0;width:100%;height:99.2vh;" allowfullscreen></iframe>

            <% elsif @route.id == 27 %>
              <iframe src="https://www.google.com/maps/embed?pb=!1m52!1m12!1m3!1d61774.01798337594!2d120.96975931091815!3d14.606131788435707!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m37!3e0!4m5!1s0x3397b6e31e9e9ea7%3A0xfd51fa09e26a22ef!2sSM+City+North+EDSA%2C+North+Avenue+corner+EDSA%2C+Quezon+City%2C+1100+Metro+Manila!3m2!1d14.656616!2d121.030295!4m3!3m2!1d14.6547621!2d121.0299005!4m5!1s0x3397b64fb70082bd%3A0x33c05cd55df8f937!2sQuezon+Ave%2C+Quezon+City%2C+Metro+Manila!3m2!1d14.6351757!2d121.0231764!4m5!1s0x3397b61ac0435c0b%3A0xe7d4d28aaa42f382!2sEspanya%2C+Espa%C3%B1a+Boulevard%2C+Manila%2C+NCR!3m2!1d14.616818799999999!2d121.000424!4m3!3m2!1d14.5898223!2d120.98089709999999!4m5!1s0x3397c96615e88305%3A0x5a5aa4f48e07f67e!2sTaft+Ave%2C+Manila%2C+Metro+Manila!3m2!1d14.568031099999999!2d120.9925816!4m3!3m2!1d14.5543497!2d120.9970695!5e0!3m2!1sen!2sph!4v1460915732413" frameborder="0" style="border:0;width:100%;height:99.2vh;" allowfullscreen></iframe>

            <% elsif @route.id == 28 %>
              <iframe src="https://www.google.com/maps/embed?pb=!1m32!1m12!1m3!1d61801.199166483864!2d120.98473591061949!3d14.509073304274171!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m17!3e0!4m5!1s0x3397c97946b1739b%3A0x6d97a2629e9cbe7b!2sUniversity+Mall%2C+Taft+Avenue%2C+Manila%2C+NCR!3m2!1d14.5631601!2d120.9943964!4m3!3m2!1d14.5556904!2d121.0028687!4m5!1s0x3397ce8559fc3823%3A0xe397efef85bd1e31!2sSucat+Road%2C+Para%C3%B1aque%2C+Metro+Manila!3m2!1d14.4668317!2d121.01542119999999!5e0!3m2!1sen!2sph!4v1460915744372" frameborder="0" style="border:0;width:100%;height:99.2vh;" allowfullscreen></iframe>

            <% elsif @route.id == 29 %>
              <iframe src="https://www.google.com/maps/embed?pb=!1m68!1m12!1m3!1d123612.4119838988!2d120.95829397686859!3d14.491125578422341!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m53!3e0!4m5!1s0x3397cfc7d540317d%3A0xde51c2f8e22bf503!2sSucat+Exit%2C+R-3%2C+Muntinlupa%2C+NCR!3m2!1d14.4540103!2d121.0450566!4m5!1s0x3397c916938f6f8f%3A0xd7eb3938786d5267!2sAmorsolo+Street%2C+Makati%2C+Metro+Manila!3m2!1d14.5513487!2d121.01558849999999!4m5!1s0x3397c90dd3fac9fb%3A0xa3ac5c99530102dc!2sDela+Rosa+Street!3m2!1d14.557862799999999!2d121.01714439999999!4m5!1s0x3397c90dc211f5b9%3A0xc395c0d26de79c79!2sAdelantado%2C+Makati%2C+Kalakhang+Maynila!3m2!1d14.5553519!2d121.0152603!4m3!3m2!1d14.5243418!2d121.02609109999999!4m5!1s0x3397c90691bfada3%3A0x72ba69fd6ec9320a!2s8737+Paseo+de+Roxas%2C+Makati%2C+Metro+Manila!3m2!1d14.55844!2d121.02572599999999!4m5!1s0x3397c9088754c5d7%3A0xf2c3ce971f7ef065!2sH.V.+Dela+Costa%2C+Makati%2C+Metro+Manila!3m2!1d14.5613546!2d121.02123279999999!4m5!1s0x3397c9abb4e21dfd%3A0x3147a540040dc46d!2sMakati+Ave%2C+Makati%2C+Metro+Manila!3m2!1d14.55973!2d121.0270887!4m5!1s0x3397c91b9d9da6fb%3A0xd67ff631897d8d5d!2sSM+Makati%2C+Makati%2C+Metro+Manila!3m2!1d14.5494706!2d121.02688029999999!5e0!3m2!1sen!2sph!4v1460915757276" frameborder="0" style="border:0;width:100%;height:99.2vh;" allowfullscreen></iframe>

            <% elsif @route.id == 30 %>
              <iframe src="https://www.google.com/maps/embed?pb=!1m74!1m12!1m3!1d123612.4119838988!2d120.95644462686855!3d14.491125578422341!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m59!3e0!4m5!1s0x3397ce15d5529bd3%3A0x6f453b285b3d74fc!2sEl+Grande+Arcade+Gaming+Center!3m2!1d14.456817!2d121.007713!4m5!1s0x3397cfc7d540317d%3A0xde51c2f8e22bf503!2sSucat+Exit%2C+R-3%2C+Muntinlupa%2C+NCR!3m2!1d14.4540103!2d121.0450566!4m5!1s0x3397c916938f6f8f%3A0xd7eb3938786d5267!2sAmorsolo+Street%2C+Makati%2C+Metro+Manila!3m2!1d14.5513487!2d121.01558849999999!4m5!1s0x3397c90dd3fac9fb%3A0xa3ac5c99530102dc!2sDela+Rosa+Street!3m2!1d14.557862799999999!2d121.01714439999999!4m5!1s0x3397c90dc211f5b9%3A0xc395c0d26de79c79!2sAdelantado%2C+Makati%2C+Kalakhang+Maynila!3m2!1d14.5553519!2d121.0152603!4m3!3m2!1d14.5243418!2d121.02609109999999!4m5!1s0x3397c90691bfada3%3A0x72ba69fd6ec9320a!2s8737+Paseo+de+Roxas%2C+Makati%2C+Metro+Manila!3m2!1d14.55844!2d121.02572599999999!4m5!1s0x3397c9088754c5d7%3A0xf2c3ce971f7ef065!2sH.V.+Dela+Costa%2C+Makati%2C+Metro+Manila!3m2!1d14.5613546!2d121.02123279999999!4m5!1s0x3397c9abb4e21dfd%3A0x3147a540040dc46d!2sMakati+Ave%2C+Makati%2C+Metro+Manila!3m2!1d14.55973!2d121.0270887!4m5!1s0x3397c91b9d9da6fb%3A0xd67ff631897d8d5d!2sSM+Makati%2C+Makati%2C+Metro+Manila!3m2!1d14.5494706!2d121.02688029999999!5e0!3m2!1sen!2sph!4v1460915770529" frameborder="0" style="border:0;width:100%;height:99.2vh;" allowfullscreen></iframe>

            <% elsif @route.id == 31 %>
              <iframe src="https://www.google.com/maps/embed?pb=!1m74!1m12!1m3!1d123612.4119838988!2d120.95916957686856!3d14.491125578422341!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m59!3e0!4m5!1s0x3397ce2ebffd360d%3A0x206b3ee15d0af96e!2sIago&#39;s+Grill!3m2!1d14.444688!2d121.02633399999999!4m5!1s0x3397cfc7d540317d%3A0xde51c2f8e22bf503!2sSucat+Exit%2C+R-3%2C+Muntinlupa%2C+NCR!3m2!1d14.4540103!2d121.0450566!4m5!1s0x3397c916938f6f8f%3A0xd7eb3938786d5267!2sAmorsolo+Street%2C+Makati%2C+Metro+Manila!3m2!1d14.5513487!2d121.01558849999999!4m5!1s0x3397c90dd3fac9fb%3A0xa3ac5c99530102dc!2sDela+Rosa+Street!3m2!1d14.557862799999999!2d121.01714439999999!4m5!1s0x3397c90dc211f5b9%3A0xc395c0d26de79c79!2sAdelantado%2C+Makati%2C+Kalakhang+Maynila!3m2!1d14.5553519!2d121.0152603!4m3!3m2!1d14.5243418!2d121.02609109999999!4m5!1s0x3397c90691bfada3%3A0x72ba69fd6ec9320a!2s8737+Paseo+de+Roxas%2C+Makati%2C+Metro+Manila!3m2!1d14.55844!2d121.02572599999999!4m5!1s0x3397c9088754c5d7%3A0xf2c3ce971f7ef065!2sH.V.+Dela+Costa%2C+Makati%2C+Metro+Manila!3m2!1d14.5613546!2d121.02123279999999!4m5!1s0x3397c9abb4e21dfd%3A0x3147a540040dc46d!2sMakati+Ave%2C+Makati%2C+Metro+Manila!3m2!1d14.55973!2d121.0270887!4m5!1s0x3397c91b9d9da6fb%3A0xd67ff631897d8d5d!2sSM+Makati%2C+Makati%2C+Metro+Manila!3m2!1d14.5494706!2d121.02688029999999!5e0!3m2!1sen!2sph!4v1460915780552" frameborder="0" style="border:0;width:100%;height:99.2vh;" allowfullscreen></iframe>

            <% elsif @route.id == 32 %>
              <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d61783.289321680924!2d121.01680991081629!3d14.573096793823158!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x3397b82972113c9b%3A0xf64610179088d6a7!2sRiverbanks+Center%2C+Marikina%2C+NCR!3m2!1d14.631019!2d121.08238!4m5!1s0x3397c91c7ec00cdf%3A0x7826badd6f2c5ce7!2sAyala%2C+Makati%2C+Metro+Manila!3m2!1d14.549160299999999!2d121.0280889!5e0!3m2!1sen!2sph!4v1460915790544" frameborder="0" style="border:0;width:100%;height:99.2vh;" allowfullscreen></iframe>

            <% elsif @route.id == 33 %>
              <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d30886.330755936215!2d121.06603857273237!3d14.61095894692474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x3397b82972113c9b%3A0xf64610179088d6a7!2sRiverbanks+Center%2C+Marikina%2C+NCR!3m2!1d14.631019!2d121.08238!4m5!1s0x3397b81df2e14b27%3A0xf0710ba84fec46ea!2sEastwood+Mall%2C+Quezon+City%2C+Metro+Manila!3m2!1d14.6104206!2d121.0800373!5e0!3m2!1sen!2sph!4v1460915801263" frameborder="0" style="border:0;width:100%;height:99.2vh;" allowfullscreen></iframe>

            <% elsif @route.id == 34 %>
              <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d30886.941178987465!2d121.05074102272901!3d14.6066144971018!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x3397b82972113c9b%3A0xf64610179088d6a7!2sRiverbanks+Center%2C+Marikina%2C+NCR!3m2!1d14.631019!2d121.08238!4m5!1s0x3397c8160219044b%3A0xcf11748d28af430d!2sSM+Megamall%2C+Mandaluyong!3m2!1d14.583879!2d121.056928!5e0!3m2!1sen!2sph!4v1460915815982" frameborder="0" style="border:0;width:100%;height:99.2vh;" allowfullscreen></iframe>

            <% elsif @route.id == 35 %>
              <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d61778.12418196135!2d121.01856691087303!3d14.591509890819863!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x3397b82978054a61%3A0x5e97f652ea90e816!2sSavemore+Marikina+Riverbanks%2C+Riverbanks+Ave%2C+Marikina%2C+Metro+Manila!3m2!1d14.6314031!2d121.0822803!4m5!1s0x3397c90584047155%3A0xe40b7062b9faf9a2!2sAyala+Avenue%2C+Makati%2C+Metro+Manila!3m2!1d14.5564697!2d121.0219446!5e0!3m2!1sen!2sph!4v1460915826598" frameborder="0" style="border:0;width:100%;height:99.2vh;" allowfullscreen></iframe>

            <% elsif @route.id == 36 %>
              <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d30886.330755936215!2d121.06128017273237!3d14.610958946924738!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e0!4m5!1s0x3397b82978054a61%3A0x5e97f652ea90e816!2sSavemore+Marikina+Riverbanks%2C+Riverbanks+Ave%2C+Marikina%2C+Metro+Manila!3m2!1d14.6314031!2d121.0822803!4m3!3m2!1d14.6108602!2d121.080491!5e0!3m2!1sen!2sph!4v1460915968500" frameborder="0" style="border:0;width:100%;height:99.2vh;" allowfullscreen></iframe>

            <% elsif @route.id == 37 %>
              <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d30886.941178987465!2d121.05074102272901!3d14.6066144971018!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x3397b82978054a61%3A0x5e97f652ea90e816!2sSavemore+Marikina+Riverbanks%2C+Riverbanks+Ave%2C+Marikina%2C+Metro+Manila!3m2!1d14.6314031!2d121.0822803!4m5!1s0x3397c8160219044b%3A0xcf11748d28af430d!2sSM+Megamall%2C+Mandaluyong!3m2!1d14.583879!2d121.056928!5e0!3m2!1sen!2sph!4v1460915980106" frameborder="0" style="border:0;width:100%;height:99.2vh;" allowfullscreen></iframe>

            <% elsif @route.id == 38 %>
              <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d123553.72897051349!2d120.99547192818142!3d14.595997109947488!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x3397b9bcfb2bf237%3A0x19706c79416e6ee7!2sMeralco+Marikina+Branch%2C+Marikina%2C+Metro+Manila!3m2!1d14.6504246!2d121.11157449999999!4m5!1s0x3397c91c7ec00cdf%3A0x7826badd6f2c5ce7!2sAyala%2C+Makati%2C+NCR!3m2!1d14.549160299999999!2d121.0280889!5e0!3m2!1sen!2sph!4v1460915986705" frameborder="0" style="border:0;width:100%;height:99.2vh;" allowfullscreen></iframe>

            <% elsif @route.id == 39 %>
              <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d30884.129472452347!2d121.07892902274433!3d14.626615246286798!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x3397b9bcfb2bf237%3A0x19706c79416e6ee7!2sMeralco+Marikina+Branch%2C+Marikina%2C+Metro+Manila!3m2!1d14.6504246!2d121.11157449999999!4m5!1s0x3397b81df2e14b27%3A0xf0710ba84fec46ea!2sEastwood+Mall%2C+Quezon+City%2C+NCR!3m2!1d14.6104206!2d121.0800373!5e0!3m2!1sen!2sph!4v1460916011863" frameborder="0" style="border:0;width:100%;height:99.2vh;" allowfullscreen></iframe>

            <% elsif @route.id == 40 %>
              <iframe src="https://www.google.com/maps/embed?pb=!1m24!1m8!1m3!1d61771.222114812255!2d121.0481865!3d14.6160795!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x3397b9bcfb2bf237%3A0x19706c79416e6ee7!2sMeralco+Marikina+Branch%2C+Marikina%2C+Metro+Manila!3m2!1d14.6504246!2d121.11157449999999!4m5!1s0x3397c8160219044b%3A0xcf11748d28af430d!2sSM+Megamall%2C+Mandaluyong!3m2!1d14.583879!2d121.056928!5e0!3m2!1sen!2sph!4v1460916057002" frameborder="0" style="border:0;width:100%;height:99.2vh;" allowfullscreen></iframe>

            <% elsif @route.id == 41 %>
              <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d61775.00012843484!2d121.04858101090733!3d14.602635739005692!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x3397b9bcfb2bf237%3A0x19706c79416e6ee7!2sMeralco+Marikina+Branch%2C+Marikina%2C+Metro+Manila!3m2!1d14.6504246!2d121.11157449999999!4m5!1s0x3397c8f2ca652c83%3A0x62c8011c6abe662e!2sMarket*21+Market*21%2C+McKinley+Parkway%2C+Taguig%2C+Metro+Manila!3m2!1d14.549546999999999!2d121.05607499999999!5e0!3m2!1sen!2sph!4v1460916067875" frameborder="0" style="border:0;width:100%;height:99.2vh;" allowfullscreen></iframe>

            <% else %>
            <% end %>


            </div>
            </div>

        </div>


<script>
$(document).ready(function() {

  function reverse() {
      var destination = document.getElementById("i-destination2").value;
      var origin = document.getElementById("i-origin").value;
      document.getElementById("i-origin").value = destination;
      document.getElementById("i-destination2").value = origin;
  }

  $("#i-reverse1").click(function(e){
  reverse();
  document.getElementById("destination-form").submit();
  });
  
});
</script>