<div id="body-home" style="">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4" style="background-color:#5388AD; height: 100vh;">
                <div><center><%= image_tag '/assets/main-logo', :style=>"width: 80%; padding-top: 2vh;" %>
                </center></div>
                <div class="">
                    <div class="row" style="margin-top:3vh;">
                        <div class="col-xs-2">
                        <%= image_tag 'location to destination.png', :style => "height: 15vh; margin-left: -20px;"%>
                    </div>
                    <div class="col-xs-8">
                          <center><input id="i-origin" class="i-search" type="text" name="origin" placeholder="SEARCH ORIGIN" value=<%= params['origin'] %>></center>
                      <center><input id="i-destination2" class="i-search" type="text" name="destination" value=<%= params['destination'] %>></center>

                    </div>
                    <div class="col-xs-2" style="padding-top:10px;">
                        <input type="image" src="/assets/reverse.png" alt="Reverse" id="i-reverse1" class="i-reverse" onclick="for_reverse(event);">
                    </div>

                    </div>
                </div>
                <div class="t-td1" style=" margin-left:-4%; font-family: 'Open Sans', sans-serif; font-size: 16px; font-weight: bold; background-color:#E4E2E1; height:10%; width:108%; padding-top:14px;margin-top:4vh;">
                  <center>
                  <span class="st-title">Terminal Name</span><br>
                  <span class="st-subtitle">Address</span>

                  </center>
                </div>
                <div class="t-td1" style=" margin-left:-4%; font-family: 'Open Sans', sans-serif; color: #5388AD; font-size: 16px; font-weight: bold; background-color:white; height:70%; width:108%;">
                <div style="overflow-y:auto;overflow-x:hidden; height:38vh;">
                   <div class="row td-divlink" style="height:12vh; background-color:white;">
                  <div class="col-xs-1"></div>
                  <div style="width:12.5vh; height:100%;background-image:url(/assets/route.png);background-size:cover;background-position:cover; margin-left:20px;" class="col-xs-3">
                    
                  </div>
                  <div style="padding-top:0.9vh;" class="col-xs-8" >
                    <span class="ttitle">ROUTE</span><br>
                    <span class="sttitle"><%=@route.name%></span><br>
                    <span class="sttitle2"><%=@route.fare%></span>
                  </div>

                </div>
                  <div class="row td-divlink" style="height:12vh; background-color:white;">
                  <div class="col-xs-1"></div>
                  <div style="width:13vh; height:100%;background-image:url(/assets/schedule.png);background-size:cover;background-position:cover; margin-left:16px;" class="col-xs-3">
                    
                  </div>
                  <div style="padding-top:0.9vh;" class="col-xs-8" >
                    <span class="ttitle">SCHEDULE</span>
                    <span class="sttitle"><%=@route.schedule%></span><br>
                    <span class="sttitle2">first trip:<%= @route.trip1 %></span><br><span class="sttitle2">last trip:<%= @route.trip2 %></span>
                  </div>
                  </div>

                  <div class="row td-divlink" style="height:12vh; background-color:white;">
                  <div class="col-xs-1"></div>
                  <div style="width:13vh; height:100%;background-image:url(/assets/fare.png);background-size:cover;background-position:cover; margin-left:16px;" class="col-xs-3">
                    
                  </div>
                  <div style="padding-top:0.9vh;" class="col-xs-8" >
                    <span class="ttitle">FARE</span><br>
                    <span class="sttitle"><%=@route.fare%></span>
                  </div>
                  </div>
                  <div class="row td-divlink" style="height:12vh; background-color:white;">
                  <div class="col-xs-1"></div>

                  <div style="padding-top:0.9vh;" class="col-xs-10" >
                    <span class="ttitle">DROP OFF POINTS</span><br>
                    <span class="sttitle">
                      <% if @route.dropoff_locations.present? %>
                    <p>
                      <ul>
                      <% @route.dropoff_locations.each do |d| %>
                        <li><%= d.location %></li>
                      <% end %>
                      </ul>
                    </p>
                  <% end %>

                    </span>
                  </div>
                  </div>
                </div>


                
                </div>

                        <input type="image" src="/assets/hamburger-menu-2.png" alt="Menus" id="i-menu2" class="i-menu my_popup_open">
                        </div>
                
                <div id="my_popup">
                    <%= render 'about' %>
                </div>
            <div id="map"class="col-md-8" style="min-height: 100vh; background-color: #E4E2E1;padding-left:0!important;padding-right:0!important;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m44!1m12!1m3!1d61802.069085481315!2d121.00385349110101!3d14.505956507350762!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m29!3e0!4m5!1s0x3397c91baffddebf%3A0x69800d9f23370c5e!2sPilar+UV+Express+Station%2C+East+St%2C+Makati%2C+Metro+Manila!3m2!1d14.549178699999999!2d121.02560249999999!4m5!1s0x3397ce42734946c1%3A0x2e3b609295ed4bd4!2sN+Lopez+Ave%2C+Para%C3%B1aque%2C+Metro+Manila!3m2!1d14.4678519!2d121.0111117!4m5!1s0x3397ce3b50e254d7%3A0x544ef11811c1bff2!2sAguirre+Avenue%2C+Para%C3%B1aque%2C+Metro+Manila!3m2!1d14.4514835!2d121.0181511!4m5!1s0x3397ce32597c9df1%3A0xbaa40fd03cfc01d6!2sPresident&#39;s+Ave%2C+Para%C3%B1aque%2C+Metro+Manila!3m2!1d14.4502931!2d121.02995179999999!4m3!3m2!1d14.450262899999998!2d121.0301123!5e0!3m2!1sen!2sph!4v1460897611760" frameborder="0" style="border:0;width:100%;height:99.2vh;" allowfullscreen></iframe>

            </div>
            </div>

        </div>