
  <div id="body-home">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 i-left">
                <div><center><%= image_tag 'logo bluebg', :style=>"width: 100%; padding-top: 13vh;" %></center></div>
                <div id="i-td1"><center>Clueless no more!<br>UV Express schedules, routes,<br>fares, terminals in the Metro.</center></div>
               
                  <center>
					<%= form_for(@destination) do |f| %>
					<div class="field" style="display:none;">
				    <%= f.label :latitude %><br>
				    <%= f.text_field :latitude %>
				  </div>
				  <div class="field" style="display:none;">
				    <%= f.label :longitude %><br>
				    <%= f.text_field :longitude %>
				  </div>
					<div class="field">
				    <%= f.text_field :address, :id=>"i-destination", :class=>"i-search", :type=>"text", :name=>"destination[address]", :placeholder=>"SEARCH DESTINATION" %>
				  </div>
				    <div class="actions" style="visibility:hidden;">
					    <%= f.submit %>
					</div>
					<%end%>
                  </center>
                
                <input type="image" src="/assets/hamburger menu 1.png" alt="Menus" id="i-menu1" class="i-menu my_popup_open">
                <div id="my_popup">
                  <%= render 'about' %>
                </div>
                <!--<input type="image" src="/assets/maps bar icon.png" alt="Maps" id="i-maps1" class="i-maps">-->
            </div>
            <div id="map"class="col-md-8" style="height: 100vh; background-color: #E4E2E1;">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers([
    {
      "lat": 14.607325,
      "lng": 120.990602,
      "picture": {
        "url": "https://gcdc2013-know-your-gov.appspot.com/static/img/gmaps.png",
        "width":  36,
        "height": 36
      },
      "infowindow": "Dormus Living Spaces"
    }
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  handler.getMap().setZoom(11);
});

</script>