
  <div id="body-home">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 i-left">
                <div><center><%= image_tag '/assets/main-logo', :style=>"width: 80%; padding-top: 2vh;" %></center></div>
                <div id="i-td1"><br><br><br><center>Clueless no more!<br>UV Express schedules, routes,<br>fares, terminals in the Metro.</center></div>

               <%= params[:message] %>
                  <center>
            
					<%= form_for(@destination) do |f| %>
					<div class="field" style="display:none;">
				    <%= f.label :latitude %><br>
				    <%= f.text_field :latitude %>
				  </div>
				  <div class="field" style="display:none;">
				    <%= f.label :longitude %><br>
				    <%= f.text_field :longitude %>
				  </div>
					<div class="field">
				    <%= f.text_field :address, :id=>"i-destination", :class=>"i-search", :type=>"text", :name=>"destination[address]", :placeholder=>"Search Destination" %>
				  </div>

          <input name="origin-latitude", id="origin-latitude" hidden>
          <input name="origin-longitude", id="origin-longitude" hidden>

				    <div class="actions" style="visibility:hidden;">
					    <%= f.submit %>
					</div>
					<%end%>


                </center>
                
                <!-- <input type="image" src="/assets/hamburger-menu-1.png" alt="Menus" id="i-menu1" class="i-menu my_popup_open">
                <div id="my_popup">
                  <%= render 'about' %>
                </div> -->
                <!--<input type="image" src="/assets/maps bar icon.png" alt="Maps" id="i-maps1" class="i-maps">-->
            </div>
            <div id="map"class="col-md-8" style="height: 100vh; background-color: #E4E2E1;">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">


$(document).ready(function() {
  if (navigator.geolocation) { //Checks if browser supports geolocation
   navigator.geolocation.getCurrentPosition(function (position) {                                                              //This gets the
     var latitude = position.coords.latitude;                    //users current
     var longitude = position.coords.longitude;                 //location
     var coords = new google.maps.LatLng(latitude, longitude); //Creates variable for map coordinates
     document.getElementById('origin-latitude').value = latitude;
     document.getElementById('origin-longitude').value = longitude;
   })
 }
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(13);
    handler.getMap().setOptions({styles: [{"featureType":"water","stylers":[{"saturation":43},{"lightness":-11},{"hue":"#0088ff"}]},{"featureType":"road","elementType":"geometry.fill","stylers":[{"hue":"#ff0000"},{"saturation":-100},{"lightness":99}]},{"featureType":"road","elementType":"geometry.stroke","stylers":[{"color":"#808080"},{"lightness":54}]},{"featureType":"landscape.man_made","elementType":"geometry.fill","stylers":[{"color":"#ece2d9"}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"color":"#ccdca1"}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"color":"#767676"}]},{"featureType":"road","elementType":"labels.text.stroke","stylers":[{"color":"#ffffff"}]},{"featureType":"poi","stylers":[{"visibility":"off"}]},{"featureType":"landscape.natural","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#b8cb93"}]},{"featureType":"poi.park","stylers":[{"visibility":"on"}]},{"featureType":"poi.sports_complex","stylers":[{"visibility":"on"}]},{"featureType":"poi.medical","stylers":[{"visibility":"on"}]},{"featureType":"poi.business","stylers":[{"visibility":"simplified"}]}]});
  });
});


</script>
