<div id="body-home">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4" style="background-color:#5388AD; height: 100vh;">
                <div><center><%= image_tag 'logo-bluebg', :style=>"width: 100%; padding-top: 3vh;" %></center></div>
                <div class="">
                    <div class="row" style="margin-top:4vh;">
                        <div class="col-xs-2">
                        <%= image_tag 'location to destination.png', :style => "height: 15vh; margin-left: -20px;"%>
                    </div>
                    <div class="col-xs-8">
                      <%= form_for @new_origin, url: {action: "update"}, html: {id: "origin-form"} do |f| %>
                        <center><%= f.text_field :address, id: "i-origin", class: "i-search", placeholder: "SEARCH ORIGIN", onkeypress: "enter(event);" %></center>
                      <% end %>
                      <%= form_for @destination, url: {action: "update"}, html: {id: "origin-destination"} do |f| %>
                        <center><%= f.text_field :address, id: "i-destination2", class: "i-search", value: "#{@destination.address}", onkeypress: "enter_destination(event);" %></center>
                      <% end %>
                    </div>
                    <div class="col-xs-2" style="padding-top:10px;">
                        <input type="image" src="/assets/reverse.png" alt="Reverse" id="i-reverse1" class="i-reverse" onclick="for_reverse(event);">
                    </div>

                    </div>
                </div>
                <div class="t-td1" style=" margin-left:-4%;margin-top: 4vh; font-family: 'Open Sans', sans-serif; color: #5388AD; font-size: 16px; font-weight: bold; background-color:white; height:70%; width:108%; padding-top:30px;">
                <center>There are <span id="counter">0</span> terminals near your location!</center>
                
                    <div id="t-table-wrapper" style="padding-top:15px;margin-left:20px;margin-right:20px;"><center>
                        <table id="t-table" style="width:100%;">
                        <% @terminals.take(5).each do |t| %>
                            <tr>
                                <!-- IROW MO NA LANG TO KESA TABLE-->
                                <td class="td-t-name"><%=link_to t.name, terminal_path(t.id)%><br>5:30 am to 10:00 am</td>
                                <td class="td-t-via">Ayala, Makati via Skyway</td>
                            </tr>
                        <%end%>

                        </table>
                        </center>
                        </div>
                        <input type="image" src="/assets/hamburger-menu-2.png" alt="Menus" id="i-menu2" class="i-menu my_popup_open">
                        </div>
                
                <div id="my_popup">
                    <%= render 'about' %>
                </div>
            </div>

            <div id="map"class="col-md-8" style="min-height: 100vh; background-color: #E4E2E1;">
            </div>
        </div>
    </div>
</div>

<div id="parameters" data-terminal-count="<%= @terminals.count %>">
  
</div>

<script type="text/javascript">

$(document).ready(function() {

});

function convertEntities(html) {
    var el = document.createElement("div");
    el.innerHTML = html;
    return el.firstChild.data;
}


function enter(event) {
    if (event.which == 13 || event.keyCode == 13) {
        event.preventDefault();
        //document.getElementById("show-form").submit();
    }
};

function enter_destination(event) {
    if (event.which == 13 || event.keyCode == 13) {
        document.getElementById("destination-form").submit();
    }
};

function reverse() {
    var destination = document.getElementById("i-destination2").value;
    var origin = document.getElementById("i-origin").value;
    document.getElementById("i-origin").value = destination;
    document.getElementById("i-destination2").value = origin;
}

function showlocation() {
   // One-shot position request.
   navigator.geolocation.getCurrentPosition(callback);
}

function callback(position) {
   document.getElementById('latitude').innerHTML = position.coords.latitude;
   document.getElementById('longitude').innerHTML = position.coords.longitude;
}

var directionsDisplay = new google.maps.DirectionsRenderer();
var directionsService = new google.maps.DirectionsService();

function calcRoute() {
if (navigator.geolocation) { //Checks if browser supports geolocation
   navigator.geolocation.getCurrentPosition(function (position) {                                                              //This gets the
     var latitude = position.coords.latitude;                    //users current
     var longitude = position.coords.longitude;                 //location
     var coords = new google.maps.LatLng(latitude, longitude); //Creates variable for map coordinates
     var directionsService = new google.maps.DirectionsService();
     var directionsDisplay = new google.maps.DirectionsRenderer();

     var mapOptions = //Sets map options
     {
       zoom: 15,  //Sets zoom level (0-21)
       center: coords, //zoom in on users location
       mapTypeControl: true, //allows you to select map type eg. map or satellite
       navigationControlOptions:
       {
         style: google.maps.NavigationControlStyle.SMALL //sets map controls size eg. zoom
       },
       mapTypeId: google.maps.MapTypeId.ROADMAP //sets type of map Options:ROADMAP, SATELLITE, HYBRID, TERRIAN
     };
     map = new google.maps.Map( /*creates Map variable*/ document.getElementById("map"), mapOptions /*Creates a new map using the passed optional parameters in the mapOptions parameter.*/);

     directionsDisplay.setMap(map);
     directionsDisplay.getMap().setOptions({styles: [{"featureType":"water","stylers":[{"saturation":43},{"lightness":-11},{"hue":"#0088ff"}]},{"featureType":"road","elementType":"geometry.fill","stylers":[{"hue":"#ff0000"},{"saturation":-100},{"lightness":99}]},{"featureType":"road","elementType":"geometry.stroke","stylers":[{"color":"#808080"},{"lightness":54}]},{"featureType":"landscape.man_made","elementType":"geometry.fill","stylers":[{"color":"#ece2d9"}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"color":"#ccdca1"}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"color":"#767676"}]},{"featureType":"road","elementType":"labels.text.stroke","stylers":[{"color":"#ffffff"}]},{"featureType":"poi","stylers":[{"visibility":"off"}]},{"featureType":"landscape.natural","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#b8cb93"}]},{"featureType":"poi.park","stylers":[{"visibility":"on"}]},{"featureType":"poi.sports_complex","stylers":[{"visibility":"on"}]},{"featureType":"poi.medical","stylers":[{"visibility":"on"}]},{"featureType":"poi.business","stylers":[{"visibility":"simplified"}]}]});
     directionsDisplay.setPanel(document.getElementById('panel'));
     var request = {
       origin: coords,
       destination: new google.maps.LatLng(<%=@destination.latitude%>, <%=@destination.longitude%>),
       travelMode: google.maps.DirectionsTravelMode.DRIVING
     };
     directionsService.route(request, function (response, status) {
       if (status == google.maps.DirectionsStatus.OK) {
         directionsDisplay.setDirections(response);
       }
     });
            var setdis=20000;
            var counter = 0;
            var terms = [];
            <% @terminals.each do |t| %>
              var distance1 = google.maps.geometry.spherical.computeDistanceBetween(coords, new google.maps.LatLng(<%=t.latitude%>,<%=t.longitude%>));
                
                console.log(distance1);
                if (distance1<=setdis){
                  var marker = new google.maps.Marker({
                  position: new google.maps.LatLng( <%=t.latitude%>,<%=t.longitude%>),
                  map: map,
                  title: '',
                  icon:"https://s3.amazonaws.com/uvexpress/t2-b.png",
              });
                }
                else{var marker = new google.maps.Marker({
                  position: new google.maps.LatLng( <%=t.latitude%>,<%=t.longitude%>),
                  map: map,
                  title: '',
                  icon:"https://s3.amazonaws.com/uvexpress/t1-b.png",
              });}
              var distance = google.maps.geometry.spherical.computeDistanceBetween(coords, new google.maps.LatLng(<%=t.latitude%>,<%=t.longitude%>));
              
              console.log(distance);
              if (distance<=setdis){
                terms.push(["<%=t.id%>","<%=t.name%>"]);
                counter = counter + 1;
              }
            <% end %>
            document.getElementById('counter').innerHTML = counter;

            //HERE 

            var $mTable = $("#t-table");
            $mTable.find('tbody').html("");
            for(var i = 0; i < counter; i++) {
              var tempRow = "<tr><td class='td-t-name'>"+terms[i][1]+"</td>";
               tempRow+= "&#60;&#37; Terminal.find("+terms[i][0]+").first.routes.each do |r| &#37;&#62;<td class='td-t-via'>&#60;&#37; r.name &#37;&#62;</td>&#60;&#37; r.name &#37;&#62;</tr>";
              // tempRow += "</tr>";
              //var meh = convertEntities(tempRow);
              $mTable.find('tbody').append(tempRow);
              //$mTable.find('tbody').append(convertEntities(tempRow));
            }

   });
 }
}

window.onload = calcRoute;
 
function calcRoute2() {
if (navigator.geolocation) { //Checks if browser supports geolocation
   navigator.geolocation.getCurrentPosition(function (position) {                                                              //This gets the
     var latitude = position.coords.latitude;                    //users current
     var longitude = position.coords.longitude;                 //location
     var coords = new google.maps.LatLng(latitude, longitude); //Creates variable for map coordinates
     var directionsService = new google.maps.DirectionsService();
     var directionsDisplay = new google.maps.DirectionsRenderer();
     var mapOptions = //Sets map options
     {
       zoom: 15,  //Sets zoom level (0-21)
       center: coords, //zoom in on users location
       mapTypeControl: true, //allows you to select map type eg. map or satellite
       navigationControlOptions:
       {
         style: google.maps.NavigationControlStyle.SMALL //sets map controls size eg. zoom
       },
       mapTypeId: google.maps.MapTypeId.ROADMAP //sets type of map Options:ROADMAP, SATELLITE, HYBRID, TERRIAN
     };
     map = new google.maps.Map( /*creates Map variable*/ document.getElementById("map"), mapOptions /*Creates a new map using the passed optional parameters in the mapOptions parameter.*/);
     directionsDisplay.setMap(map);
     directionsDisplay.getMap().setOptions({styles: [{"featureType":"water","stylers":[{"saturation":43},{"lightness":-11},{"hue":"#0088ff"}]},{"featureType":"road","elementType":"geometry.fill","stylers":[{"hue":"#ff0000"},{"saturation":-100},{"lightness":99}]},{"featureType":"road","elementType":"geometry.stroke","stylers":[{"color":"#808080"},{"lightness":54}]},{"featureType":"landscape.man_made","elementType":"geometry.fill","stylers":[{"color":"#ece2d9"}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"color":"#ccdca1"}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"color":"#767676"}]},{"featureType":"road","elementType":"labels.text.stroke","stylers":[{"color":"#ffffff"}]},{"featureType":"poi","stylers":[{"visibility":"off"}]},{"featureType":"landscape.natural","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#b8cb93"}]},{"featureType":"poi.park","stylers":[{"visibility":"on"}]},{"featureType":"poi.sports_complex","stylers":[{"visibility":"on"}]},{"featureType":"poi.medical","stylers":[{"visibility":"on"}]},{"featureType":"poi.business","stylers":[{"visibility":"simplified"}]}]});
     directionsDisplay.setPanel(document.getElementById('panel'));
     var request = {
       origin: new google.maps.LatLng(<%=@destination.latitude%>, <%=@destination.longitude%>),
       destination: coords,
       travelMode: google.maps.DirectionsTravelMode.DRIVING
     };
     directionsService.route(request, function (response, status) {
       if (status == google.maps.DirectionsStatus.OK) {
         directionsDisplay.setDirections(response);
       }
     });
   });
 }
}

/* original */
var destination2 = document.getElementById("i-destination2").value;
var origin2 = document.getElementById("i-origin").value;

function for_reverse(e) {
   e.preventDefault();
   reverse();
   if (destination2 == document.getElementById("i-destination2").value){
    calcRoute();
   }
   else {
    calcRoute2();
   }
}


</script>